*{margin: 0%;
    padding: 0%;}
    
    
    
    body{
    display: flex;
    flex-direction: column;
    
    }
    
    
    
    .header{
    margin: 20px;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    }
    
    .logo-header{
    margin-left: 20px;
    margin-right: 17px;
    width: 120px;
    height: 60px;
    }
    .logo-header img{
    width: 100%;
    }
    
    .input-header{
    width: 300px;
    height: 30px;
    
    
    }
    .logo-input-espace{
    
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    }
    
    .input-header input{
    width: 120%;
    height: 100%;
    padding: 4px;
    font-size: 10px;
    font-family: 'Poppins', sanss-serif;
    border: 0.1vh solid rgb(196, 196, 196) ;
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
    }
   
    .icon-input{
    background-image:url(/img/logo/lupa.png);
    background-size: 27px;
    background-position: 350px;
    background-repeat: no-repeat;
        
    }

    input:focus{
    outline:0;
    }
    
    .options-header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    }

    button{
    border-radius: 50px;
    width: 90px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    border: none;
    background-color: #a2368c;
    color: antiquewhite;
    margin: 2px;
    }

button:hover{
    background-color: #ffcc00;
    color: #a2368c;
    font-size: 12px;
    font-weight: 550S;
}


    .btnLike{
    width: 40px;
    height: 40px;
    font-size: 21px;
   
    }
    .btnLike:hover{
        font-size: 23px;
    }
   