*{margin: 0%;
    padding: 0%;}
    
/*Aqui é o Header*/    
    
    body{
    display: flex;
    flex-direction: column;
    
    }
    
    
    .header{
    margin: 20px;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    }
    
    .logo-header{
    margin-left: 20px;
    margin-right: 17px;
    width: 120px;
    height: 60px;
    }
    .logo-header img{
    width: 100%;
    }
    
    .input-header{
    width: 300px;
    height: 30px;
    
    
    }
    .logo-input-espace{
    
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    }
    
    .input-header input{
    width: 120%;
    height: 100%;
    padding: 4px;
    font-size: 10px;
    font-family: 'Poppins', sanss-serif;
    border: 0.1vh solid rgb(196, 196, 196) ;
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
    }
   
    .icon-input{
    background-image:url(img/lupa.png);
    background-size: 27px;
    background-position: 350px;
    background-repeat: no-repeat;
        
    }

    input:focus{
    outline:0;
    }
    
    .options-header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    }

    button{
    border-radius: 50px;
    width: 90px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    border: none;
    background-color: #a2368c;
    color: antiquewhite;
    margin: 2px;
    }

button:hover{
    background-color: #ffcc00;
    color: #a2368c;
    font-size: 12px;
    font-weight: 550S;
}


    .btnLike{
    width: 40px;
    height: 40px;
    font-size: 21px;
   
    }
    .btnLike:hover{
        font-size: 23px;
    }
   
/*Aqui começa o center*/

.center{
    flex-direction: column;
    justify-content: center;
    align-items: right;
    
}

/*Agora é o banner*/
.banner{
    border-radius: 20px 0px 0px 20px;
    width: 1050px;
    height: 400px;

    
    
}

.container{
    width: 100%;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: right;
}

    /* Agora é são os Cards*/

    .cards{
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 300px;
        display: flex;
        width: 1045px;
        height: 500px;
    
        
       
        
    }
    .cards1{
        flex-direction: column;
    }

    .primeiro{
        flex-direction: column;
        width: 320px;
        height:180px;
        border-radius: 35px;
        background-image:
         url('img/card1.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        
       
    }
    .segundo{
        flex-direction: column;
        width: 320px;
        height:180px;
        border-radius: 35px;
        background-image:
         url('img/card2.png');
        background-size: 91%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 10px;
    }

  .card2{
    width: 1030px;
    height: 400px;
    border-radius: 35px;
    background-image:
     url('img/card3.png');
    background-size: 94%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 9px;
   
}

.card3{
    flex-direction: column;
}
.primeiroc3{
    flex-direction: column;
    width: 320px;
    height:200px;
    border-radius: 35px;
    background-image:
     url('img/card4.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top:15px;
   
    
   
}
  
.segundoc3{
    flex-direction: column;
    width: 320px;
    height:180px;
    border-radius: 35px;
    background-image:
     url('img/card5.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
top: 23px;
}

.texto{
    position: relative;
    bottom: 20px;
    left: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 23px;
}
